$black-color: #000;
$white-color: #fff;
$shadow-dark: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
0 6px 20px 0 rgba(0, 0, 0, 0.19);
$shadow-light: 0 4px 8px 0 rgba(0, 0, 0, 0.19),
0 6px 20px 0 rgba(0, 0, 0, 0.19);
$border: 1px solid #C6C6C6;
$border2: 2px solid #C6C6C6;
$border-color:#AAAAAA;
$secondary-color:#21CCC8;
$light-blue:#1073B2;
$placeholdertext:#C6C6C6;