.card-info-modal {
    border-radius: 2rem;
    .modal-content {
        border-radius: 1rem;
    }
    .modal-dialog {
        max-width: 70rem;
    }
    .card-info-list {
        .info {
            margin-bottom: 2.5rem;
            max-width: 30rem;
        }
    }
    .modal-header {
        border-bottom: 0;
    }
    .qr-wrapper {
        width: 10rem;
        height: 10rem;
        margin: 5rem auto;
        .qr-code {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .arrow-location {
        position: absolute;
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);
    }
}